*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: #3161E0;
    color: #ffffff;
}
/*header */
header nav.container {
    padding: 10px 0;
}
header nav ul{
    min-width: 500px;
}
footer{
    background-color: #23272A;
    color: #ffffff;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
}
.bg-grey{
    background-color: F6F6F6; 
}
.bottone{
    display: block;
    background-color: #ffffff;
    color: #23272A;
    border-radius: 20px;
    padding: 10px 12px;
    text-decoration: none;
}
.bottone-nero{
    display: block;
    background-color:#23272A;
    color: #ffffff;
    border-radius: 20px;
    padding: 10px 12px;
    text-decoration: none;
}
}
li{
    list-style: none;
}
.flexbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero{
    background-image: url("img\__MACOSX\img\._jumbo.png");
    height: 465px;
    background-size: cover;
}
.inner-hero{
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
}