*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: #3161E0;
    color: #ffffff;
}
/*header */
header nav.container {
    padding: 10px 0;
}
header nav ul{
    min-width: 500px;
}
footer{
    background-color: #23272A;
    color: #ffffff;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
    flex-wrap: wrap;
} 
.bg-grey{
    background-color: lightgray; 
}
.bottone{
    display: block;
    background-color: #ffffff;
    color: #23272A;
    border-radius: 20px;
    padding: 8px 8px;
    text-decoration: none;
    margin-right: 20px;
}
.bottone-nero{
    display: block;
    background-color:#23272A;
    color: #ffffff;
    border-radius: 20px;
    padding: 8px 8px;
    text-decoration: none;
    margin-right: 20px;
}
.bottone-blu{
    display: flex;
    background-color:rgb(142, 161, 225);
    color:white;
    border-radius: 20px;
    padding: 8px 8px;
    text-decoration: none;
    margin: 30px 350px;
    justify-content: center;
    vertical-align: middle;
}
.bottone-blu1{
    display: flex;
    background-color:rgb(142, 161, 225);
    color:white;
    border-radius: 20px;
    padding: 8px 8px;
    text-decoration: none;   
}
li{
    list-style: none;
    padding: 5px 0;
}
.flexbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ultimo{
    display: flex;
    justify-content: center;
}
.hero{
    background-image: url("./img/img/jumbo.png");
    height: 500px;
    background-size: cover;
}
.inner-hero{
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;    
} 
h1{
    font-size: 26px;
    padding-bottom: 10px;
}
.paragrafi{
    max-width: 250px;
}
h2{
    color: #23272A;
    text-align: center;
}
h4{
    text-align: center;
    color: 2a2d30; 
}
.stars{
    background-image: url(./img/img/stars.svg);
    display: flex;
    justify-content: center;
} /*non funzionano le stars*/
.margine{
    margin-top: 70px;
    line-height: 30px;
}
.azzurro{
    color: rgb(114, 137, 218);
    padding-top: 20px;
}

.foot-margin{
    max-width: 1170px;
    margin: 10px auto;
    flex-wrap: wrap;
    padding: 10px;
    border-top: 1px solid rgb(114, 137, 218);
}
.colonne{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10px;
}
i{
    color: #ffffff;
    margin: 10px;
    vertical-align: middle;
}
section{
    padding: 70px;
}
.nero{
    color: #23272A;
}